.rbutton {
    color: red;
    background-color: aquamarine;
    font-size: small;
    max-width: 100px;
}

.abutton {
    font-size: small;
    color: green;
    background-color: rgb(223, 223, 17);

}

.tasklist {
    background-color: rgb(180, 158, 201);
}

.table {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: 10px;
}

.cb {
    background-color: blueviolet;
    margin-top: 15px;
}

.listheading {
    text-decoration: underline;
    background-color: cadetblue;
}

.inputform {
    background-color: beige;
}