.navbar {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f6f45;
    padding: 14px 24px;
    color: white;
    border-radius: 16px;
}

.navbar a {
    color: white;
    margin-right: 14px;
}

.navbar a:hover {
    text-decoration: overline;
}