#root {
  background-color: #1f7a52;
  text-align: center;
  color: #fff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f7a52;
  color: #fff;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}