:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {

  display: flex;
  place-items: center;
  min-width: 320px;

  background-color: #1f7a52;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}