:root {
    background-color: #0f3d2e;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1f7a52;
    color: #102a21;
}

.home {
    font-family: Segoe UI, Roboto, Arial, sans-serif;
    color: #ff7bbd;
    background: #1f1235;
    border-radius: 8px;
    width: 100vw;
    height: 250px;
}

.home h2 {
    color: #ffd6e7;
}

.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2c7dff;
    background: #081a2b;
    border-radius: 8px;
    width: 100vw;
    height: 250px;
}

.about h2 {
    color: #d8f1ff;
}

.contact {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffe6cf;
    background: #2a0f08;
    border-radius: 8px;
    width: 100vw;
    height: 250px;
}

.contact h2 {
    color: #ff4d00;
}


.navbar {
    background: #0f3d2e;
    color: rgb(90, 244, 149);
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: rgb(90, 244, 149);
    text-decoration: none;
    margin-left: 12px;
    padding: 6px 10px;
    border-radius: 6px;
}

.navbar a:hover {
    background: #1f7a52;
}